.search-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.search-bar {
    padding: 0.4rem;
    width: 45%;
    border: 2px solid grey;
    border-radius: 0.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search-btn {
    padding: 0.4rem 0.6rem;
    margin-left: 0.4rem;
    border-radius: 0.3rem;
    background-color: rgb(255, 80, 80);
    color: white;
    border: none;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}